@tailwind base;
@tailwind components;
@tailwind utilities;
/* Customize the arrow color */
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Track color (gray-800) */
  border-radius: 10px; /* Rounded track corners */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Thumb color (gray-600) */
  border-radius: 10px; /* Rounded scrollbar corners */
  border: 2px solid transparent; /* Adds space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Thumb hover color (gray-400) */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937; /* Thumb color, Track color */
  scroll-behavior: smooth;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.card:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
