@tailwind base;
@tailwind components;
@tailwind utilities;
/* Customize the arrow color */
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Track color (gray-800) */
  border-radius: 10px; /* Rounded track corners */
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Thumb color (gray-600) */
  border-radius: 10px; /* Rounded scrollbar corners */
  border: 2px solid transparent; /* Adds space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Thumb hover color (gray-400) */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937; /* Thumb color, Track color */
  scroll-behavior: smooth;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.card:hover {
  transform: translateY(-2px);
  transition: 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.topbar {
  overflow-x: auto;
}
.topbar span {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px;
  padding: 5px 0px;
  word-break: keep-all;
}
h1,
h2 {
  color: #000000b7;
}

#logo {
  margin: 0px 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#title,
#description {
  color: #000000b7;
}
#title {
  font-size: 50px;
}
#box1 {
  width: 60%;
}
#box1 button {
  font-size: 1.3rem;
}
#stats div div {
  background-color: #ff7645;
}
#stats div {
  font-weight: bolder;
  font-size: large;
}
#stats span {
  font-weight: bolder;
  font-size: larger;
}
@media (max-width: 600px) {
  #title {
    font-size: 40px;
  }
  #description {
    font-size: large;
  }
  #logo {
    margin: 0px 10px;
  }
  #box1 {
    width: 100%;
  }
  #box1 button {
    font-size: 0.9rem;
  }
}
